$colorDefault: #1698d9;
$colorHover: #2ea8e6;
$colorSelected: #d91667;
$colorSelectedHover: #e62e7a;
$colorDisabled: #b3b3b3;
$colorDisabledPromo: #ffff66;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorText: #666666;
$fontGlobal: 'Trebuchet MS', sans-serif;
$fontSecondary: 'Exo 2', sans-serif;
$borderOuter: 12px;
$borderInner: 9px;